<div class="transition transition-3 is-active"></div>
<div class="container-fluid mb-5">
      <div class="container mt-3">
        <div class="row d-block">
          <div class="col d-flex justify-content-end">
            <button type="button" id="close" class="btn-close btn-close-white fs-4 shadow-none" aria-label="Close"></button>
          </div>
          <div class="col mt-5">
            <div class="brasley-medium palet-abu fs-6 text-center">Get to know me</div>
            <div class="genera-semi-bold display-4 text-center mt-2">About Me</div>
          </div>
        </div>
        
        <div class="d-flex justify-content-center mt-4">
          <div class="line d-flex" style="width: 70px; background-color: #009e66; height: 5px;">
            <div class="square" style="width: 5px; background-color: #141414; height: 5px;"></div>
            <div class="square mx-1" style="width: 5px; background-color: #141414; height: 5px;"></div>
          </div>
        </div>


        <div class="row mt-5 harmonia">
            <div class="col-lg-5 col-md-12" id="profil">
                
            </div>
            <div class="col-lg-7 col-md-12 mt-5">
                <div class="fs-3 harmonia palet-green">Who am I</div>
                <div class="fs-2 genera-semi-bold">I'm Bintang, a Web Developer</div>
                <div class="fs-2">-</div>
                <hr>
                <div class="row" id="bio">
                    <table class="col-md-6 col-sm-12" cellspacing="0" cellpadding="10" style="user-select: none;">
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>Muhammad Bintang Alsyahadat</td>
                        </tr>
                        <tr>
                            <td>Age</td>
                            <td>:</td>
                            <td>19 Years</td>
                        </tr>
                    </table>
                    <table class="col-md-6 col-sm-12" cellspacing="0" cellpadding="10" style="user-select: none;">
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td>bintangal@munn.id</td>
                        </tr>
                        <tr>
                            <td>From</td>
                            <td>:</td>
                            <td>Kediri, Jawa Timur, Indonesia</td>
                        </tr>
                    </table>
                </div>
                <div class="row mt-3">
                    <div class="col-1 py-3">
                      <div id="line"></div>
                    </div>
                    <div class="col" id="about-social">
                      <a class="mx-2" href="https://twitter.com/BintangAl_" target="_blank"><i class="bi bi-twitter fs-5"></i></a>
                      <a class="mx-2" href="#"><i class="bi bi-facebook fs-5"></i></a>
                      <a class="mx-2" href="https://www.linkedin.com/in/bintang-alsyahadat-0aa8981a5/" target="_blank"><i class="bi bi-linkedin fs-5"></i></a>
                      <a class="mx-2" href="https://github.com/BintangAl" target="_blank"><i class="bi bi-github fs-5"></i></a>
                      <a class="mx-2" href="https://www.instagram.com/bintangalsyahadat_/" target="_blank"><i class="bi bi-instagram fs-5"></i></a>
                      <a class="mx-2" href="#"><i class="bi bi-youtube fs-5"></i></a>
                    </div>
                  </div>
            </div>
        </div>

        <div class="row mt-5 py-5 mb-5">
            <div class="col mt-5">
                <div class="fs-6 brasley-medium palet-abu">Services i offer to my clients</div>
                <div class="display-6 genera-semi-bold">My Services</div>
                <div class="row mt-5">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="service-box p-4">
                                <i class="icon palet-green p-2 bi bi-wordpress" style="font-size: 50px;"></i>
                                <div class="item-info mt-3">
                                    <div class="fs-4 info-title harmonia">Web Development</div>
                                    <div class="fs-4 info-value harmonia palet-abu">-</div>
                                </div>
                                
                            </div>
                            <div class="line-bottom"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="service-box p-4">
                                <i class="icon palet-green p-2 bi bi-arrows-move" style="font-size: 50px;"></i>
                                <div class="item-info mt-3">
                                    <div class="fs-4 info-title harmonia">Fully Responsive</div>
                                    <div class="fs-4 info-value harmonia palet-abu">-</div>
                                </div>
                                
                            </div>
                            <div class="line-bottom"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="item">
                            <div class="service-box p-4">
                                <i class="icon palet-green p-2 bi bi-globe" style="font-size: 50px;"></i>
                                <div class="item-info mt-3">
                                    <div class="fs-4 info-title harmonia">Branding</div>
                                    <div class="fs-4 info-value harmonia palet-abu">-</div>
                                </div>
                                
                            </div>
                            <div class="line-bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
      </div>
</div>


<script src="/asset/js/menu.js"></script>

<script>
    function myFunction(x) {
      if (x.matches) { // If media query matches
          $("#profil").html(`
            <div class="text-center">
                <img src="/asset/img/profil2.jpg" width="50%" alt="" class="rounded rounded-circle">
            </div>
          `)
      } else {
        $("#profil").html(`
            <img src="/asset/img/profil.jpg" width="90%" alt="" class="rounded"> 
        `)
      }
    }

    var x = window.matchMedia("(max-width: 991px)")
    myFunction(x) // Call listener function at run time
    x.addListener(myFunction) // Attach listener function on state changes
</script>
